.p{
	padding: 5px;
	margin:0; 
	background: #000033; 
	width: 99%; 
	color: #ffffff; 
	font-size: 30px; 
	margin: 5px; 
	border-radius: 5px;
}

.a{
	text-decoration:none; 
	color: #ffffff; 
	font-size:30px;
}
